# local package
-e .

# external requirements
python-dotenv>=0.5.1
pandas
numpy
matplotlib
seaborn
scikit-learn
plotly
nbformat>=4.2.0
missingno
ipykernel
statsmodels
mlflow<3
dagshub
optuna
dvc
dvc[dagshub]
dvc[s3]
